//Message from friend
if recipient.id == message.sender.id
  li.app--message
      .app--avatar(style='background-image: url(' + message.sender.profile_image_url + ')')
          img(src=message.sender.profile_image_url)
      p.app--message--text #{message.text}
      p.app--message--timestamp #{moment(message.created_at).toNow(true)}
else
  li.app--message--me
      .app--avatar(style='background-image: url(' + message.sender.profile_image_url + ')')
          img(src=message.sender.profile_image_url)
      p.app--message--text
          | #{message.text}
      p.app--message--timestamp #{moment(message.created_at).toNow(true)}
